<%= form_for(@yelp_info) do |f| %>
  <% if @yelp_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yelp_info.errors.count, "error") %> prohibited this yelp_info from being saved:</h2>

      <ul>
      <% @yelp_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :identifier %><br />
    <%= f.text_field :identifier %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :mobile_url %><br />
    <%= f.text_field :mobile_url, :readonly => true %>
  </div>

  <div class="field">
    <%= f.label :photo_url %><br />
    <%= f.text_field :photo_url %>
  </div>

  <div class="field">
    <%= f.label :rating_img_url %><br />
    <%= f.text_field :rating_img_url %>
  </div>

  <div class="field">
    <%= f.label :review_count %><br />
    <%= f.text_field :review_count %>
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
