<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.street %>, <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip %>
</p>

<p>
  <b>Lat/Lng:</b>
  <%= @restaurant.lat %>, <%= @restaurant.lng %>
</p>

<p>
  <b>Telephone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Created at:</b>
  <%= @restaurant.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @restaurant.updated_at %>
</p>

<p>
  <b>Yelp info:</b>
  <%= @restaurant.yelp_info.identifier unless @restaurant.yelp_info.nil? %>
</p>

<%= @yelp.class %>
<%= @yelp.length %>
<%= @yelp %>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?zoom=14&size=600x300&markers=#{@restaurant.lat}%2C#{@restaurant.lng}&sensor=false" %><br />
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
